{% extends "blog/base.html" %}

{% block title %}List blog{% endblock %}

{% block content %}
    Blog list
    <ul>
        {% for post in posts %}
        <li>
            <div>
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>
            <div class="post-content">
                {{ post.body |safe|truncatewords:30|linebreaks|striptags }}
            </div>                
            </div>
        </li>
        {% endfor %}
    </ul>
    {% include "blog/pagination.html" with page=posts %}
{% endblock %}